@implements IDisposable
<div class="fixed z-[9000] inset-0 flex flex-col items-center justify-center bg-white @(!_screenLocked ? "hidden" : "")">
	@if(!string.IsNullOrEmpty(ImageSrc)) {
		<img fetchpriority="high" decoding="async" class="w-full" src="@ImageSrc" alt=""/>
	}
	else {
		<img fetchpriority="high" decoding="async" class="w-[200px] mx-auto" src="/logo.svg" alt=""/>
		<p class="absolute bottom-16 text-2xl text-center text-neutral-600">BookHeaven</p>
	}
</div>

@code {
	[Inject] private LifeCycleService LifeCycleService { get; set; } = null!;
	
	[Parameter] public string? ImageSrc { get; set; }

	private bool _screenLocked;
	
	protected override void OnInitialized()
	{
		LifeCycleService.Paused += Show;
		LifeCycleService.Resumed += Hide;
	}

	private void Show(object? sender, EventArgs e)
	{
		_screenLocked = true;
		StateHasChanged();
	}
	private void Hide(object? sender, EventArgs e)
	{
		_screenLocked = false;
		StateHasChanged();
	}

	public void Dispose()
	{
		LifeCycleService.Paused -= Show;
		LifeCycleService.Resumed -= Hide;
	}
}