<div class="absolute -translate-y-1/2 top-1/2 inset-x-0 text-center flex flex-col px-5">
    <p class="text-xl">@(Content ?? "Loading...")</p>
    @if (Description != null)
    {
        <div class="mt-2">
            @Description
        </div>
    }
    @if (ButtonContent != null)
    {
        <Button Class="mx-auto mt-10" Kind="Button.ButtonType.Secondary" OnClick="@(() => OnButtonClick.InvokeAsync())">@ButtonContent</Button>
    }
</div>


@code {
    [Parameter] public string? Content { get; set; } = null;
    [Parameter] public RenderFragment? Description { get; set; }
    [Parameter] public RenderFragment? ButtonContent { get; set; }

    [Parameter] public EventCallback OnButtonClick { get; set; }
}