@using System.Globalization
<div class="h-2.5 w-full rounded-full bg-neutral-200 overflow-hidden">
    <div class="h-2.5 rounded-full bg-black" style="width: @Value.ToString("0.##", CultureInfo.InvariantCulture)%"></div>
</div>

@code {
    [Parameter] public double Value { get; set; }
}