@typeparam TOption where TOption : Enum
<CascadingValue Value="this">
	<div class="flex flex-wrap gap-2 @(Class)">
		@ChildContent
	</div>
</CascadingValue>

@code {
	[Parameter] public string? Class { get; set; }
	[Parameter] public required TOption SelectedOption { get; set; }
	[Parameter] public EventCallback<TOption> SelectedOptionChanged { get; set; }
	[Parameter] public RenderFragment? ChildContent { get; set; }

	internal Task SelectOptionAsync(TOption option)
	{
		return SelectedOptionChanged.InvokeAsync(option);
	}
}