<div class="-translate-x-1/2 -translate-y-1/2 absolute left-1/2 top-1/2 text-center">
    <p class="text-nowrap">@(Content != null ? Content : "Loading...")</p>
    @if (ExtraInfo != null)
    {
        <p>@ExtraInfo</p>
    }
    @if (ButtonText != null)
    {
        <button class="btn btn-primary" @onclick="@(() => OnButtonClick.InvokeAsync())">@ButtonText</button>
    }
</div>


@code {
    [Parameter] public string? Content { get; set; } = null;
    [Parameter] public string? ExtraInfo { get; set; } = null;
    [Parameter] public string? ButtonText { get; set; } = null;

    [Parameter] public EventCallback OnButtonClick { get; set; }
}