@using System.Timers
@implements IDisposable
<div>
    @_clock
</div>

@code {
    string _clock = DateTime.Now.ToString("HH:mm");
    Timer _clockTimer = new() { Interval = 1000 };


    protected override void OnInitialized()
    {
        _clockTimer.Elapsed += OnTimerTick;
        _clockTimer.Start();
    }

    private async Task UpdateClock()
    {
        _clock = DateTime.Now.ToString("HH:mm");
        await InvokeAsync(StateHasChanged);
    }

    private void OnTimerTick(object? sender, EventArgs e)
    {
        InvokeAsync(UpdateClock);
    }

    public void Dispose()
    {
        _clockTimer.Stop();
        _clockTimer.Dispose();
        GC.SuppressFinalize(this);
    }
}