<div class="settings border-t-2 border-black bg-white" @onclick:stopPropagation="true">
    <NavigationSettings ProfileSettings="ProfileSettings"/>
    <TextSetting Label="@Translations.VERTICAL_MARGIN" Min="0" Max="10" Increment="0.5" @bind-Value="ProfileSettings.VerticalMargin"/>
    <TextSetting Label="@Translations.HORIZONTAL_MARGIN" Min="0" Max="10" Increment="0.5" @bind-Value="ProfileSettings.HorizontalMargin"/>
</div>

@code {
    [Parameter] public ProfileSettings ProfileSettings { get; set; } = null!;
}