<div class="settings border-solid border-t-2 border-black bg-white" @onclick:stopPropagation="true">
    <NavigationSettings/>
    <RangeSlider Label="@Translations.VERTICAL_MARGIN" Min="0" Max="10" Increment="0.5m" @bind-Value="ProfileSettingsService.ProfileSettings.VerticalMargin" @bind-Value:after="() => ProfileSettingsService.OnProfileSettingsChanged?.Invoke(nameof(ProfileSettings.SelectedLayout))" />
    <RangeSlider Label="@Translations.HORIZONTAL_MARGIN" Min="0" Max="10" Increment="0.5m" @bind-Value="ProfileSettingsService.ProfileSettings.HorizontalMargin" @bind-Value:after="() => ProfileSettingsService.OnProfileSettingsChanged?.Invoke(nameof(ProfileSettings.HorizontalMargin))"  />
</div>

@code {
    [Inject] private ProfileSettingsService ProfileSettingsService { get; set; } = null!;
}