@import "tailwindcss";

@theme {
    --breakpoint-xs: 33rem;
}

@layer base {
    h1 {
        @apply text-4xl;
    }

    h2 {
        @apply text-3xl;
    }

    h3 {
        @apply text-2xl;
    }

    h4 {
        @apply text-xl;
    }

    h5 {
        @apply text-lg;
    }

    h6 {
        @apply text-base;
    }

    img, svg {
        display: initial;
    }

    h1,h2,h3,h4,h5,h6 {
        margin: revert;
    }

    a {
        @apply text-black no-underline;
    }
    
    select {
        @apply bg-white border border-black rounded px-2 py-1;
    }
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

html, body {
    font-family: 'Montserrat';
}

body {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}
    
.status-bar-safe-area {
    display: none;
}

@supports (-webkit-touch-callout: none) {
    .status-bar-safe-area {
        display: flex;
        position: sticky;
        top: 0;
        height: env(safe-area-inset-top);
        background-color: #f7f7f7;
        width: 100%;
        z-index: 1;
    }

    .flex-column, .navbar-brand {
        padding-left: env(safe-area-inset-left);
    }
}

.blazor-context-menu__list  {
    padding: 0 !important;
}

.blazor-context-menu__item--default {
    @apply !p-3;
}

.blazor-context-menu__item--default:active {
    @apply !bg-neutral-700 text-white;
}