name: Publish Android app

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '**/*.md'
      - '**/*.gitignore'
      - '**/*.gitattributes'

permissions:
  contents: write

env:
  DOTNET_NOLOGO: true                     # Disable the .NET logo
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true # Disable the .NET first time experience
  DOTNET_CLI_TELEMETRY_OPTOUT: true       # Disable sending .NET CLI telemetry

jobs:
  check-version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.get-version.outputs.version }}
      exists: ${{ steps.check-tag.outputs.exists }}
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: Get version
        id: get-version
        run: |
          VERSION=$(nbgv get-version | grep NuGetPackageVersion | cut -d ':' -f2 | xargs)
          echo "Version: $VERSION"
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          
      - name: Check if tag version exists
        id: check-tag
        run: |
          TAG_EXISTS=$(git ls-remote --tags origin "v${{ steps.get-version.outputs.version }}")
          if [ -n "$TAG_EXISTS" ]; then
            echo "exists=true" >> $GITHUB_OUTPUT
          else
            echo "exists=false" >> $GITHUB_OUTPUT
          fi
      
  build-android:
    runs-on: windows-latest
    needs: check-version
    if: needs.check-version.outputs.exists == 'false'
    env:
      VERSION: ${{ needs.check-version.outputs.version }}
      DOTNET_ANDROID_VERSION: net10.0-android
      
    steps:
    - name: Checkout code
      uses: actions/checkout@v5
      with:
          fetch-depth: 0
          
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x
        
    - name: Install workload
      run: dotnet workload install maui-android
        
    - name: Setup node js
      uses: actions/setup-node@v5
      with:
        node-version: latest
        cache: 'npm'
    
    - name: Move to BookHeaven directory
      shell: pwsh
      run: |
        New-Item -ItemType Directory -Path BookHeaven\BookHeaven.Reader -Force
        Get-ChildItem -Path . -Exclude BookHeaven | Move-Item -Destination BookHeaven\BookHeaven.Reader -Force
        
    - name: Clone EbookManager
      shell: pwsh
      run: |
        git clone https://${{ secrets.PAT_TOKEN }}@github.com/BookHeaven/BookHeaven.EbookManager.git temp\BookHeaven.EbookManager
        New-Item -ItemType Directory -Path BookHeaven\BookHeaven.EbookManager -Force
        Get-ChildItem -Path temp\BookHeaven.EbookManager | Move-Item -Destination BookHeaven\BookHeaven.EbookManager -Force
        
    - name: Clone BookHeaven.Domain
      shell: pwsh
      run: |
        git clone https://${{ secrets.PAT_TOKEN }}@github.com/BookHeaven/BookHeaven.Domain.git temp\BookHeaven.Domain
        New-Item -ItemType Directory -Path BookHeaven\BookHeaven.Domain -Force
        Get-ChildItem -Path temp\BookHeaven.Domain | Move-Item -Destination BookHeaven\BookHeaven.Domain -Force
        
    - name: Cache NuGet packages
      uses: actions/cache@v3
      with:
        path: ~/.nuget/packages
        key: ${{ runner.os }}-nuget-${{ hashFiles('BookHeaven/BookHeaven.Reader/**/*.csproj') }}
        restore-keys: |
          ${{ runner.os }}-nuget-

    - name: Install npm packages
      working-directory: .\BookHeaven\BookHeaven.Reader
      run: npm ci

    - name: Build tailwindcss
      working-directory: .\BookHeaven\BookHeaven.Reader
      run: npm run tailwindcss:build
    
    - name: Restore dependencies
      working-directory: .\BookHeaven\BookHeaven.Reader
      run: dotnet restore

    - name: Setup keystore file
      id: decode_keystore
      uses: timheuer/base64-to-file@v1.2.4
      with:
        fileName: bookheaven.jks
        encodedString: ${{ secrets.KEYSTORE_BASE64 }}
    
    - name: Publish
      working-directory: .\BookHeaven
      run: |
          dotnet publish .\BookHeaven.Reader\BookHeaven.Reader.csproj -c Release -f ${{ env.DOTNET_ANDROID_VERSION }} /p:AndroidKeyStore=true /p:AndroidSigningKeyStore="${{ steps.decode_keystore.outputs.filePath }}" /p:AndroidSigningKeyAlias=bookheaven /p:AndroidSigningKeyPass=${{ secrets.KEYSTORE_PASSWORD }} /p:AndroidSigningStorePass=${{ secrets.KEYSTORE_PASSWORD }} --no-restore
    
    - name: Create Tag
      uses: actions/github-script@v7
      with: 
        github-token: ${{ secrets.GITHUB_TOKEN }}
        script: |
          github.rest.git.createRef({
            owner: context.repo.owner,
            repo: context.repo.repo,
            sha: context.sha,
            ref: `refs/tags/v${{ env.VERSION }}`
          })
        
    - name: Create Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: v${{ env.VERSION }}
        generate_release_notes: true
        make_latest: true
        files: |
            ./BookHeaven/BookHeaven.Reader/bin/Release/${{ env.DOTNET_ANDROID_VERSION }}/publish/dev.ggarrido.bookheaven-Signed.apk
            ./BookHeaven/BookHeaven.Reader/bin/Release/${{ env.DOTNET_ANDROID_VERSION }}/publish/dev.ggarrido.bookheaven-Signed.aab
